.card{
    margin: 5px;
    margin-top: 10px;
    margin-left: 10px;
    padding: 10px;
    background-color: rgb(223 222 222 / 75%);
    width: 285px;
    height: 100px;
    transition: transform .2s;
    border-radius: 0px;  
    cursor: pointer;     
}
.employee-profile{
    width: 90px;
    height: 90px;
    float: left;
    padding-right: 10px;
 }
 .jobTitle{
     font-size:85%;
 }
.icons{
    width: 60%;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 0px;
}
.emp-data{
    line-height: 20px;
    color: gray;
}
.image{
    height: fit-content;
    width: fit-content;
}